---
import { SITE, NEWS } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import NewsList from '~/components/news/List.astro';
import Pagination from '~/components/news/Pagination.astro';

import { fetchPosts } from '~/utils/news';
import { TAG_BASE } from '~/utils/permalinks';
import Headline from '~/components/news/Headline.astro';

export async function getStaticPaths({ paginate }) {
  if (NEWS?.disabled || NEWS?.tag?.disabled) return [];

  const posts = await fetchPosts();
  const tags = new Set();
  posts.flatMap((post) => {
    Array.isArray(post.tags) && post.tags.flatMap((tag) => tags.add(tag.toLowerCase()));
  });

  return Array.from(tags).flatMap((tag: string) =>
    paginate(
      posts.filter((post) => Array.isArray(post.tags) && post.tags.find((elem) => elem.toLowerCase() === tag)),
      {
        params: { tag: tag, news: TAG_BASE || undefined },
        pageSize: NEWS.postsPerPage,
        props: { tag },
      }
    )
  );
}

const { page, tag } = Astro.props;

const currentPage = page.currentPage ?? 1;
const meta = {
  title: `Posts by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  description: SITE.description,
  noindex: NEWS?.tag?.noindex,
};
---

<Layout meta={meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-3xl">
    <Headline>Tag: {tag}</Headline>
    <NewsList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
