---
import { SITE, NEWS } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import NewsList from '~/components/news/List.astro';
import Headline from '~/components/news/Headline.astro';
import Pagination from '~/components/news/Pagination.astro';

import { fetchPosts } from '~/utils/news';
import { CATEGORY_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
  if (NEWS?.disabled || NEWS?.category?.disabled) return [];

  const posts = await fetchPosts();
  const categories = new Set();
  posts.flatMap((post) => {
    typeof post.category === 'string' && categories.add(post.category.toLowerCase());
  });

  return Array.from(categories).flatMap((category: string) =>
    paginate(
      posts.filter((post) => typeof post.category === 'string' && category === post.category.toLowerCase()),
      {
        params: { category: category, news: CATEGORY_BASE || undefined },
        pageSize: NEWS.postsPerPage,
        props: { category },
      }
    )
  );
}

const { page, category } = Astro.props;

const currentPage = page.currentPage ?? 1;
const meta = {
  title: `Category'${category}' ${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  description: SITE.description,
  noindex: NEWS?.category?.noindex,
};
---

<Layout meta={meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-3xl">
    <Headline><span class="capitalize">{category.replaceAll('-', ' ')}</span></Headline>
    <NewsList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
