---
import Layout from '~/layouts/PageLayout.astro';
---

<Layout>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-16 text-center">
    <h2 class="text-4xl font-bold">Contact Form Submitted Successfully!</h2>
    <p class="pt-6 pb-6 text-base max-w-2xl text-center dark:text-neutral-400">
      Thank you for your message. We will get back to you soon.
    </p>
  </div>
</Layout>
