---
import { Image } from 'astro:assets';
import Link from '~/components/Link.astro';
import steboLogo from '~/assets/images/theme/stebo_footer.jpg';
import soproLogo from '~/assets/images/theme/sopro_footer.jpg';
---

<footer>
  <div class="leftcontainer">
    Unser Gold-Sponsor:
    <a href="https://stebo.ch/" target="blank" rel="noopener noreferrer" class="Logo"
      ><Image alt="Stebo" src={steboLogo} height="70" quality={60} /></a
    >
  </div>
  <div class="middlecontainer">
    <Link href={'/imprint'} target="_self">Impressum</Link>
  </div>
  <div class="rightcontainer">
    Unser Silber-Sponsor:
    <a href="https://www.sopro.com/ch-de/" target="blank" rel="noopener noreferrer" class="Logo"
      ><Image alt="Stebo" src={soproLogo} height="70" quality={60} /></a
    >
  </div>
</footer>

<style>
  footer {
    height: 120px;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    flex-shrink: 0;
    bottom: 0;
    position: relative;
    background-color: #e31f24;
  }
  a {
    color: var(--base-dark);
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
  }
  a:active,
  a:hover,
  a:focus {
    color: var(--base);
  }
  .leftcontainer,
  .rightcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    width: 20%;
    color: black;
  }
  .middlecontainer {
    margin: 0 auto;
    text-decoration: none;
    color: black;
  }

  @media only screen and (max-width: 880px) {
    footer {
      flex-direction: column;
      height: 100%;
    }
    .leftcontainer,
    .rightcontainer {
      order: 1;
      width: 100%;
    }
    .middlecontainer {
      order: 2;
      padding: 20px 0;
    }
  }
</style>
