<script lang="ts">
  import { afterUpdate } from 'svelte';
  import PhotoswipeGallery from 'svelte-photoswipe-gallery';
  import LoadingSpinner from './LoadingSpinner.svelte';

  export let images: any[] = [];
  export let showDescription = false;
  export let showDownloadButton = false;
  export let showFullscreenButton = false;

  let isLoading = true;

  afterUpdate(() => {
    isLoading = false;
  });
</script>

<div class="w-3/4">
  {#if isLoading}
    <LoadingSpinner />
  {:else}
    <PhotoswipeGallery {images} {showDescription} {showDownloadButton} {showFullscreenButton} loading="eager" />
    {/if}
</div>
