---
import { Image } from 'astro:assets';
import NoLogo from '~/assets/images/gallery/clublogos/nologo.png';
interface TeamItem {
  name: string;
  logo?: ImageMetadata;
  score: number;
}

export interface Props {
  home: TeamItem;
  guest: TeamItem;
}

const { home, guest } = Astro.props;
---

<div class="grid grid-cols-5 gap-4 w-full items-center border-2 rounded-lg">
  <div class="grid grid-rows-3 items-center justify-center col-span-2">
    <Image
      src={home?.logo ?? NoLogo}
      alt="Home Team Logo"
      class="object-contain h-32 w-32 row-span-2 place-self-center"
    />
    <span class="place-self-center text-center">{home?.name}</span>
  </div>
  <div class="flex flex-col">
    <span class="place-self-center">Resultat</span>
    <span class="font-bold place-self-center whitespace-nowrap">{home?.score} : {guest?.score}</span>
  </div>
  <div class="grid grid-rows-3 items-center justify-center col-span-2">
    <Image
      src={guest?.logo ?? NoLogo}
      alt="Guest Team Logo"
      class="object-contain h-32 w-32 row-span-2 place-self-center"
    />
    <span class="place-self-center text-center">{guest?.name}</span>
  </div>
</div>
