---
import { InfoIcon } from 'astro-feather';
---

<section class="bg-blue-50 dark:bg-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold"> <InfoIcon customClasses="w-5 h-5 inline-block align-text-bottom" /> Philosophy:</span> Simplicity,
    Best Practices and High Performance
  </div>
</section>
