---
import { Image } from 'astro:assets';
import Logo from '~/assets/images/HDC_Logo.png';
export interface Props {
  teamNames: string[];
  players: {
    name: string;
    team: string;
    role: {
      Vorstand: string;
    };
    since: number;
    image?: {
      src: ImageMetadata;
      alt: string;
      width?: number;
      height?: number;
    };
  }[];
}

const { teamNames = [], players = [] } = Astro.props;
---

<script>
  // Find all images with the `alert` class on the page.
  const images = document.querySelectorAll('img.CardImage');

  // Handle clicks on each button.
  images.forEach((img: any) => {
    img.addEventListener('click', () => {
      window.open(img?.src, '_blank');
    });
  });
</script>

{
  teamNames.map((teamName: string) => (
    <div class="TeamCard">
      <h2 class={teamName === 'Vorstand' ? 'hidden' : ''}>{teamName}</h2>
      <div class="TeamsContainer flex flex-row flex-wrap justify-around gap-4">
        {players.map((player) => (
          <div class="Card flex flex-col w-64 h-full overflow-hidden bg-gradient-to-b from-blue-900 via-slate-100 to-red-700 text-black">
            {player.team.includes(teamName) && (
              <div class="Card flex flex-col w-64 h-full overflow-hidden bg-gradient-to-b from-blue-900 via-slate-100 to-red-700 text-black">
                {player.image ? (
                  <Image
                    class="CardImage max-w-full max-h-full h-48 mt-2 mx-auto object-contain cursor-pointer"
                    loading="lazy"
                    src={player.image?.src}
                    alt={player.image?.alt}
                    quality={60}
                  />
                ) : (
                  <div class="CardHeader flex w-full h-48 justify-center items-center mt-2">
                    <Image
                      class="CardImage max-w-full max-h-full h-48 mt-2 mx-auto object-contain cursor-pointer"
                      src={Logo}
                      alt="HDC Logo"
                      quality={40}
                    />
                  </div>
                )}
                <div class="CardBody p-4 flex flex-col">
                  <h4>{player.name}</h4>
                  {player.role && player.role[teamName] && <p>{player.role[teamName]}</p>}
                  {player.since ? <p>HDCler seit {player.since}</p> : undefined}
                </div>
              </div>
            )}
          </div>
        ))}
      </div>
    </div>
  ))
}

<style>
  .Card {
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
  }
</style>
