---
interface Item {
  title: string;
  date: string;
  description: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  items?: Array<Item>;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  items = [],
} = Astro.props;
---

<div class="px-4 py-4 md:py-8 sm:px-6 mx-auto md:px-24 lg:px-8 max-w-6xl">
  <ol class="border-l-2 border-blue-900 dark:border-blue-500">
    {
      items.map(({ title, date, description }) => (
        <li>
          <div class="flex-start flex items-center">
            <div class="-ml-[11px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-blue-900 dark:bg-blue-500" />
            <h4 class="-mt-2 text-xl font-semibold">{title}</h4>
          </div>
          <div class="mb-6 ml-6 pb-6">
            <div class="text-md font-bold text-blue-900 dark:text-blue-500 transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">
              {date}
            </div>
            <p class="mb-4 mt-2 text-neutral-600 dark:text-neutral-300">{description}</p>
          </div>
        </li>
      ))
    }
  </ol>
</div>
