---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import Link from '~/components/Link.astro';
import HDCLogoAlt from '~/assets/images/gallery/Logo_alt.jpg';
import PrimarySection from '~/components/widgets/PrimarySection.astro';
import SecondarySection from '~/components/widgets/SecondarySection.astro';
import Timeline from '~/components/widgets/Timeline.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <h1 class="text-5xl text-center py-8">Hobby Darts Club Gelterkinden</h1>

  <PrimarySection>
    <p>HDC = Hobby Darts Club</p>

    <p>
      Wir spielen derzeit sowohl in der Nationalen Liga <Link href="https://darts.ch/">SDA</Link> sowie auch in der Regionalen
      Liga <Link href="https://dlbb.ch/">DLBB</Link>.
    </p>
  </PrimarySection>

  <SecondarySection>
    <h2 class="text-3xl">Die Geschichte des Hobby Darts Club Gelterkinden</h2>
    <Timeline
      items={[
        {
          title: 'Idee der Gründung',
          date: '1982',
          description: 'Die Idee zur Gründung entstand 1982 in Thürnen beim DC Thürnen.',
        },
        {
          title: 'Gründungsjahr und beitritt DLBB',
          date: '1983',
          description:
            'Gegründet wurde der Hobby Darts Club Gelterkinden definitiv am 03.01.1983. In diesem Jahr begannen wir bereits bei der DLBB zu spielen.',
        },
        {
          title: 'Beitritt SDA',
          date: '1984',
          description:
            'Beitritt SDA. Bereits ein Jahr nach der Gründung begannen wir in der Schweizermeisterschaft mitzumischen.',
        },
        {
          title: 'Eigenes Vereinslokal',
          date: '1990',
          description:
            'Zu Anfangszeiten wurde im «Schwitzerhüsli» in Gelterkinden im kleinen Saal gespielt. Kurz darauf wurde ins Rest. Kreuz gewechselt. Nach weiteren Lokalwechseln hat der HDCG 1990 den Standort ein letztes Mal gewechselt. Seit dann Spielen wir in der Zivilschutzanlage unter dem Kindergarten Wuhr.',
        },
        {
          title: 'Spielerrückgang',
          date: '1995',
          description:
            'Bis ca. 1995 hat der HDC Gelterkinden, lange vorne mitgespielt. Danach gab es einen Spielerrückgang auf 4 Personen. Die wenigen Spieler, spielten in der Zwischenzeit E-Darts. In dieser Zeit lernten Sie neue Spieler kennen, die sich fürs Steeldarts Interessierten. So konnte sich der Verein wieder erholen und gab im Steeldarts wieder Vollgas.',
        },
      ]}
    />
  </SecondarySection>
  <PrimarySection>
    <h2 class="text-3xl pb-4">Das erste Logo</h2>
    <p>
      Das alte Logo entstand auf äußerst kreative Weise. Die Darts von Margrith Schaffner wurden zusammen fixiert und im
      Fotokopierer kopiert. Mit Hilfe einiger anderer Personen wurde das Logo noch ein wenig ausgearbeitet.
    </p>
    <Image src={HDCLogoAlt} alt="erstes Logo" class="mx-auto" />
  </PrimarySection>
</Layout>
