---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import MySection from '~/layouts/MySection.astro';
import Teamcard from '~/components/widgets/Teamcard.astro';
import { boardData } from '~/data';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <MySection>
    <Teamcard teamNames={boardData.teamNames} players={boardData.players} />
  </MySection>
</Layout>
