---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { PhoneIcon, MapIcon, MailIcon } from 'astro-feather';
import PrimarySection from '~/components/widgets/PrimarySection.astro';
import WhatsappIcon from '~/components/icons/WhatsappIcon.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <PrimarySection>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-16 text-center">
      <h2 class="text-4xl font-bold">Kontakt</h2>
      <p class="pt-6 text-base max-w-2xl text-center m-auto dark:text-neutral-400">
        Kontaktiere uns doch gerne in allen belangen.
      </p>
      <span class="max-w-sm mt-4 mb-4 dark:text-neutral-400"> Benutze dazu folgende Informationen:</span>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-16 items-center justify-center self-center">
      <a
        href="https://www.google.com/maps/place/M%C3%BChlegasse+5,+4460+Gelterkinden/@47.4657252,7.856433,19.42z/data=!4m6!3m5!1s0x479035ba96c93fe7:0x8575feaa2ab7b3a5!8m2!3d47.4659409!4d7.8570556!16s%2Fg%2F11c5pk4ns1?entry=ttu"
        target="_blank"
        class="grid grid-span-2 items-center mt-8 space-x-2 border-2 h-full justify-center rounded-md bg-blue-50 dark:bg-slate-800"
      >
        <MapIcon customClasses="w-16 h-16 place-self-center" />
        <div class="flex flex-col items-center">
          <span>Dominik Borer</span>
          <span>Mühlegasse 5</span>
          <span>4460 Gelterkinden</span>
        </div>
      </a>
      <a
        href="mailto:info@hdcg.ch"
        class="grid grid-span-2 items-center mt-8 space-x-2 border-2 h-full justify-center rounded-md bg-blue-50 dark:bg-slate-800"
      >
        <MailIcon customClasses="w-16 h-16 place-self-center" />
        <span class="place-self-center">info [at] hdcg.ch</span>
      </a>
      <a
        href="tel:+41796504967"
        class="grid grid-span-2 items-center mt-8 space-x-2 border-2 h-full justify-center rounded-md bg-blue-50 dark:bg-slate-800"
      >
        <PhoneIcon customClasses="w-16 h-16 place-self-center" />
        <div class="flex flex-col items-center">
          <span>Dominik Borer</span>
          <span>+41 79 650 49 67</span>
        </div>
      </a>
      <a
        href="https://wa.me/41796504967?text=Frage%20bez%C3%BCglich%20dem%20HDC%20Gelterkinden%3A%0A%0A"
        target="_blank"
        class="grid grid-span-2 items-center mt-8 space-x-2 border-2 h-full justify-center rounded-md bg-blue-50 dark:bg-slate-800"
      >
        <WhatsappIcon customClasses="w-16 h-16 place-self-center" />
        <div class="flex flex-col items-center">
          <span>Dominik Borer</span>
          <span>+41 79 650 49 67</span>
        </div>
      </a>
    </div>
  </PrimarySection>
</Layout>
