---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import SvelteGallery from '~/components/widgets/Gallery.svelte';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const images = [
  {
    src: '/images/gallery/HDC_Logo.png',
    alt: 'HDC Logo - neueste Version',
    width: 3637,
    height: 3290,
  },
  {
    src: '/images/gallery/HDC_Logo_white_outline.png',
    alt: 'HDC Logo - neueste Version mit weissem Rand',
    width: 3637,
    height: 3290,
  },
  {
    src: '/images/gallery/HDC_Logo_white_outline_shadow.png',
    alt: 'HDC Logo - neueste Version mit weissem Rand und Schatten',
    width: 3637,
    height: 3290,
  },
  {
    src: '/images/gallery/HDC_Logo_bis_2024.png',
    alt: 'HDC Logo - neue Version bis 2024',
    width: 4540,
    height: 4460,
  },
  { src: '/images/gallery/Logo_alt.jpg', alt: 'HDC Logo - alte Version', width: 165, height: 204 },
  {
    src: '/images/gallery/Vorstand/Adrian_Frischknecht.jpg',
    alt: 'Adrian Frischknecht',
    width: 4372,
    height: 6740,
  },
  {
    src: '/images/gallery/Vorstand/Angela_Heinrich.jpg',
    alt: 'Angela Heinrich',
    width: 3690,
    height: 5660,
  },
  {
    src: '/images/gallery/Vorstand/Dominik_Borer.jpg',
    alt: 'Dominik Borer',
    width: 3668,
    height: 4758,
  },
  {
    src: '/images/gallery/Vorstand/Lukas_Buser.jpg',
    alt: 'Lukas Buser',
    width: 5165,
    height: 6806,
  },
  {
    src: '/images/gallery/Vorstand/Marco_Lessa.jpg',
    alt: 'Marco Lessa',
    width: 4832,
    height: 6824,
  },
  {
    src: '/images/gallery/Opens/SM_2021_Womens_Double.jpg',
    alt: 'SM 2021 Womens Double',
    width: 1080,
    height: 720,
  },
  {
    src: '/images/gallery/Opens/Obersee_Open.jpg',
    alt: 'Obersee Open',
    width: 2000,
    height: 1500,
  },
  {
    src: '/images/gallery/Opens/Obersee_Open_Timo_Marti.jpg',
    alt: 'Obersee Open Timo Marti',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/Opens/Obersee_Open_Dominik_Borer.jpg',
    alt: 'Obersee Open Dominik Borer',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/Opens/Obersee_Open_Joel_Strahler.jpg',
    alt: 'Obersee Open Joel Strahler',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/Opens/Swiss_Open_Borer_Klaasen.jpg',
    alt: 'Swiss Open Dominik Borer und Jelle Klaasen',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/Opens/Swiss_Open_Heinrich_Klaasen.jpg',
    alt: 'Swiss Open Angela Heinrich und Jelle Klaasen',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/Opens/Swiss_Open_Borer_Portela.jpg',
    alt: 'Swiss Open Dominik Borer und Diogo Portela',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/Opens/Swiss_Open_Heinrich_Portela.jpg',
    alt: 'Swiss Open Angela Heinrich und Diogo Portela',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/Opens/Swiss_Open_Heinrich_Gabriel.jpg',
    alt: 'Swiss Open Angela Heinrich und Britta Gabriel',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/Opens/Swiss_Open_Heinrich_Zijlstra.jpg',
    alt: 'Swiss Open Angela Heinrich und Anca Zijlstra',
    width: 1500,
    height: 2000,
  },
  {
    src: '/images/gallery/SDA/HDCG_2_2020.jpg',
    alt: 'HDC Gelterkinden 2 - 2020',
    width: 996,
    height: 745,
  },
  {
    src: '/images/gallery/SDA/Abschlusscup_2022_Heinrich_Buser.jpg',
    alt: 'Abschlusscup 2022 Angela Heinrich und Lukas Buser',
    width: 1080,
    height: 720,
  },
  {
    src: '/images/gallery/SDA/Abschlusscup_2022_Halbfinalisten.jpg',
    alt: 'Abschlusscup 2022 Halbfinalisten DC Phantoms und HDC Gelterkinden',
    width: 2048,
    height: 1365,
  },
  {
    src: '/images/gallery/SDA/Abschlusscup_2022_3-4Platz.jpg',
    alt: 'Abschlusscup 2022 3./4. Platz',
    width: 2048,
    height: 1365,
  },
  {
    src: '/images/gallery/SDA/Abschlusscup_2022_3-4Platz_Outdoor.jpg',
    alt: 'Abschlusscup 2022 3./4. Platz',
    width: 2000,
    height: 1500,
  },
  { src: '/images/gallery/stebo.jpg', alt: 'Unser Gold-Sponsor', width: 350, height: 85 },
  { src: '/images/gallery/sopro.jpg', alt: 'Unser Silber-Sponsor', width: 312, height: 162 },
];
---

<Layout {meta}>
  <div class="flex justify-center">
    <SvelteGallery images={images} showDescription={true} showFullscreenButton={true} client:load />
  </div>
</Layout>
