---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="flex flex-col mx-20 mb-4">
    <h1 class="text-2xl font-black mx-auto my-2">Impressum</h1>
    <h2 class="text-lg font-bold mt-2">Verantwortlich für den Inhalt der Seiten</h2>
    <p>Hobby Darts Club Gelterkinden</p>
    <p>vertreten durch Dominik Fankhauser</p>
    <p>Edletenstrasse 6A</p>
    <p>CH-4415 Lausen</p>
    <p>fanki [at] dlbb.ch</p>
    <h2 class="text-lg font-bold mt-2">Copyright</h2>
    <p>
      Das Copyright für sämtliche Inhalte dieser Website liegt beim Verein HDC Gelterkinden. Jegliche Vervielfältigung
      oder Weiterverbreitung, unabhängig der Art des Mediums, als vollständiger Inhalt oder in Teilen davon, bedarf
      einer schriftlichen Zustimmung des Vereins. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt
      wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
      Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden
      Hinweis.
    </p>
    <p>Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
    <h2 class="text-lg font-bold mt-2">Disclaimer</h2>
    <p>
      Alle Texte und Links wurden sorgfältig geprüft und werden laufend aktualisiert. Wir sind bemüht, richtige und
      vollständige Informationen auf dieser Website bereitzustellen, übernehmen aber keinerlei Verantwortung, Garantien
      oder Haftung dafür, dass die durch diese Website bereitgestellten Informationen, einschliesslich jeglicher
      Datenbankeinträge, richtig, vollständig oder aktuell sind. Wir behalten uns das Recht vor, jederzeit und ohne
      Vorankündigung die Informationen auf dieser Website zu ändern und verpflichten uns auch nicht, die enthaltenen
      Informationen zu aktualisieren. Alle Links zu externen Anbietern wurden zum Zeitpunkt ihrer Aufnahme auf ihre
      Richtigkeit überprüft.
    </p>
    <p>
      Dennoch haften wir nicht für Inhalte und Verfügbarkeit von Websites, die mittels Hyperlinks zu erreichen sind.
    </p>
    <h2 class="text-lg font-bold mt-2">Haftungsausschluss</h2>
    <p>
      Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die durch die ungeprüfte
      Nutzung von Inhalten verknüpfter Seiten entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen
      wurde. Dabei ist es gleichgültig, ob der Schaden direkter, indirekter oder finanzieller Natur ist oder ein
      sonstiger Schaden vorliegt, der sich aus Datenverlust, Nutzungsausfall oder anderen Gründen aller Art ergeben
      könnte.
    </p>
  </div>
</Layout>
