---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import LatestPosts from '~/components/news/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import SecondarySection from '~/components/widgets/SecondarySection.astro';

import Logo from '~/assets/images/gallery/HDC_Logo_white_outline.png';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: Logo, alt: 'HDC Gelterkinden Logo' }}>
    <Fragment slot="title">Willkommen beim HDC Gelterkinden</Fragment>
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <SecondarySection>
    <LatestPosts title="Weitere Inhalte findest du in unseren News" />
  </SecondarySection>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Häufig gestellte Fragen"
    subtitle="Hier findest du alle Antworten auf die am häufigsten gestellten Fragen"
    highlight="FAQs"
    items={[
      [
        {
          question: 'Wann trainiert ihr?',
          answer:
            'Wir trainieren jeden Montag und Donnerstag ab 19:30Uhr in unserem Lokal in Gelterkinden. Normalerweise sind die Trainings Open End. Dies bedeutet, es ist kein Trainingsende festgelegt. Es kann also auch mal länger gehen.',
        },
        {
          question: 'Sind die Trainings bei euch gratis?',
          answer:
            'Ja, wir verlangen keine Gebühr für die Traingins. Wir freuen uns auf neue Spieler. Mit dem Getränkeverkauf wird der Verein finanziert.',
        },
        {
          question: 'Wie kann ich Mitglied werden?',
          answer:
            "Jeder ist bei uns willkommen. Einfach mal vorbeikommen und mittrainieren. Wenn's dir nach ein paar Trainings noch immer gefällt, kannst du sehr gerne Mitglied werden. Wir freuen uns auf dich!",
        },
      ],
      [
        {
          question: 'Welchen Average muss ich spielen, um bei euch mitspielen zu können?',
          answer:
            'Es ist komplett egal, welches Niveau du spielen kannst. Komm einfach gerne vorbei. Im Hobby Bereich bist du mit einem Average von 50+ schon sehr gut mit dabei. Auch ein tieferer Average ist kein Problem. Wir freuen uns auf dich!',
        },
        {
          question: 'Sind Zuschauer bei den Spielen erlaubt?',
          answer:
            'Selbstverständlich sind Zuschauer bei unseren Spielen erlaubt. Wir freuen uns über jede Unterstützung. Der Eintritt ist gratis.',
        },
        {
          question: 'Wie kann ich euch sonst noch unterstützen?',
          answer:
            'Wir freuen uns über jede Unterstützung. Egal ob du uns mit einem kleinen Beitrag unterstützt oder uns mit deinem Wissen weiterhilfst. Melde dich einfach bei uns. Wir freuen uns auf dich!',
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <SecondarySection>
    <Stats
      items={[
        { name: 'Gründung', value: '1982' },
        { name: 'SDA Spieler', value: '22' },
        { name: 'DLBB Spieler', value: '16' },
        { name: 'Passiv-Mitglieder', value: '7' },
      ]}
    />
  </SecondarySection>
</Layout>
