---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import SvelteGallery from '~/components/widgets/Gallery.svelte';
import ClubhouseMap from '~/components/widgets/MyMap.jsx';
import Link from '~/components/Link.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const images = [
  {
    src: '/images/gallery/Clubhouse/clubhouse_small_room.jpeg',
    alt: 'Vereinslokal - kleiner Raum',
    width: 1600,
    height: 1200,
  },
  {
    src: '/images/gallery/Clubhouse/clubhouse_large_room.jpeg',
    alt: 'Vereinslokal - grosser Raum',
    width: 1600,
    height: 1200,
  },
  {
    src: '/images/gallery/Clubhouse/clubhouse_large_room_2.jpeg',
    alt: 'Vereinslokal - grosser Raum',
    width: 1600,
    height: 1200,
  },
  {
    src: '/images/gallery/Clubhouse/clubhouse.gif',
    alt: 'Vereinslokal - Rundgang',
    width: 512,
    height: 480,
  },
];
---

<Layout {meta}>
  <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6">
    <div class="px-4 mx-auto w-full self-center">
      <div class="inline-block">
        <h1 class="text-4xl py-4">Unser Lokal</h1>
        Unser geliebtes Vereinslokal (auch gerne Chäller genannt) befindet sich an folgender Addresse:
        <p>(Unter dem) Kindergarten Wuhr</p>
        <p>Ergolzstrasse 35a</p>
        <p>4460 Gelterkinden</p>
        <p class="py-4">Training: jeweils Montags und Donnerstags ab 19:30Uhr</p>
      </div>
      <div class="flex flex-col max-w-screen-xl w-full h-full">
        <ClubhouseMap client:load />
        <div class="flex flex-row-reverse">
          <Link href="/club/clubhouse/map" target="_self">Grössere Karte</Link>
        </div>
      </div>
      <div class="flex justify-center mb-2">
        <SvelteGallery images={images} showDescription={true} showFullscreenButton={true} client:load />
      </div>
    </div>
  </div>
</Layout>
