---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import ClubhouseMap from '~/components/widgets/MyMap.jsx';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="w-full h-full absolute">
    <ClubhouseMap client:load />
  </div>
</Layout>
