---
const { href = await Astro.slots.render('href'), target = 'blank', rel = 'noopener noreferrer' } = Astro.props;
---

<a href={href} target={target} rel={rel} class="Link"><slot /></a>

<style>
  .Link {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .Link:before,
  .Link:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #2563eb;
    bottom: 0.3em;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .Link:before {
    width: 1em;
    transform-origin: left;
  }
  .Link:after {
    width: calc(100% - 1.5em);
    left: 1em;
    transform: translateX(110%);
    opacity: 0;
  }
  .Link:hover:before {
    transform: scaleX(0.3);
  }
  .Link:hover:after {
    transform: translateX(0);
    opacity: 1;
  }
</style>
