---
import { Image } from 'astro:assets';
import NavbarLogo from '~/assets/images/theme/HDC_Logo_Navbar.webp';
---

<span class="brand ml-2 md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <a href="/" class="text-3xl flex font-bold" target="_top"
    ><Image alt="HDC Logo" src={NavbarLogo} height="56" width="57" quality={10} class="mr-2" />
    <p class="Logo-Text place-self-center">HDC Gelterkinden</p>
    <p class="Logo-Text-Mobile hidden place-self-center">HDCG</p>
  </a></span
>

<style>
  .flex {
    display: flex;
  }
  @media only screen and (min-width: 881px) {
    a {
      align-self: center;
      align-items: center;
      color: var(--base-dark);
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      font-weight: bold;
      padding: 0.5em;
      margin-left: -0.5em;
      margin-right: -0.5em;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    a:before,
    a:after {
      position: absolute;
      content: '';
      border-bottom: 3px solid #2563eb;
      bottom: 0.3em;
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    a:before {
      width: 1em;
      transform-origin: left;
    }
    a:after {
      width: calc(100% - 1.5em);
      left: 1em;
      transform: translateX(110%);
      opacity: 0;
    }
    a:hover:before {
      transform: scaleX(0.3);
    }
    a:hover:after {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media only screen and (max-width: 880px) {
    .Logo-Text {
      display: none;
    }
    .Logo-Text-Mobile {
      display: flex !important;
    }
  }
</style>
