---
export interface Props {
  size?: number;
  width?: number;
  height?: number;
  strokeWidth?: number;
  stroke?: string;
  fill?: string;
  customClasses?: string;
  viewBox?: string;
  strokeLinecap?: 'round' | 'butt' | 'square' | 'inherit';
  strokeLinejoin?: 'round' | 'inherit' | 'miter' | 'bevel';
}

const {
  size = 24,
  strokeWidth = 2,
  width = size,
  height = size,
  stroke = 'currentColor',
  strokeLinecap = 'round',
  strokeLinejoin = 'round',
  fill = 'none',
  customClasses = '',
  viewBox = '0 0 24 24',
} = Astro.props;
---

<svg
  class={`feather feather-x ${customClasses}`}
  width={width}
  height={height}
  fill={fill}
  viewBox={viewBox}
  stroke={stroke}
  stroke-width={strokeWidth}
  stroke-linecap={strokeLinecap}
  stroke-linejoin={strokeLinejoin}
>
  <defs>
    <path
      d="M22,10.9 C21.7005873,6.1 17.9080265,2.2 13.0176192,2 L12.518598,2 C12.518598,2 12.518598,2 12.518598,2 C11.0215345,2 9.62427528,2.3 8.32682027,3 C5.03328063,4.6 3.037196,7.9 3.037196,11.5 C3.037196,12.8 3.33660869,14.2 3.83562985,15.4 L2.03915368,20.7 C1.93934945,21.1 2.03915368,21.5 2.23876215,21.7 C2.53817484,21.9 2.7377833,22 3.037196,22 C3.13700023,22 3.23680446,22 3.33660869,21.9 L8.62623297,20.1 C9.82388375,20.6 11.1213388,20.9 12.518598,20.9 C16.1115503,20.9 19.40509,18.9 21.0019577,15.7 C21.7005873,14.4 22,12.9 22,11.4 L22,10.9 Z M20.0039154,11.5 C20.0039154,11.5 20.0039154,11.5 20.0039154,11.5 C20.0039154,12.7 19.7045027,13.8 19.2054815,14.9 C17.9080265,17.5 15.4129207,19 12.518598,19 C11.4207515,19 10.2231007,18.7 9.22505836,18.2 C9.02544989,18.1 8.7260372,18.1 8.4266245,18.1 L4.6340637,19.4 L5.93151872,15.6 C6.03132295,15.3 6.03132295,15.1 5.83171448,14.8 C5.33269333,13.8 5.03328063,12.6 5.03328063,11.5 C5.03328063,8.6 6.63014834,6.1 9.22505836,4.8 C10.2231007,4.3 11.4207515,4 12.518598,4 C12.518598,4 12.518598,4 12.518598,4 L12.9178149,4 C16.7103757,4.2 19.7045027,7.2 20.0039154,11 L20.0039154,11.5 Z M16.0100002,13.0830903 L16.0100002,14.0421639 C16.0100002,14.2979169 15.9139728,14.5536698 15.721918,14.7135154 C15.5298632,14.873361 15.3057993,15.0012375 15.0497262,15.0012375 C15.0497262,15.0012375 15.0497262,15.0012375 15.0497262,15.0012375 C15.0177171,15.0012375 14.985708,15.0012375 14.9536988,15.0012375 C13.9294066,14.873361 12.9051143,14.5217007 12.0408677,13.9782257 C11.2406393,13.4667197 10.5364384,12.763399 10.0242923,11.964171 C9.44812787,11.1010047 9.0960274,10.0779929 9,9.054981 C9,8.79922803 9.06401827,8.54347506 9.22406393,8.35166033 C9.3841096,8.15984561 9.60817354,8.03196912 9.8642466,8 C9.89625574,8 9.92826487,8 9.960274,8 L10.920548,8 C10.920548,8 10.920548,8 10.920548,8 C11.400685,8 11.8168037,8.35166033 11.880822,8.83119715 C11.9128311,9.11891924 11.9768494,9.40664133 12.0728768,9.6623943 C12.2009133,10.0140546 12.1048859,10.3976841 11.8488129,10.6854062 L11.6247489,10.90919 C12.0088585,11.4846342 12.4889955,11.9961401 13.0971691,12.3797696 L13.321233,12.1559857 C13.5773061,11.9002328 13.9934248,11.8043254 14.3455253,11.9322019 C14.6015984,12.0281093 14.8896806,12.0920475 15.1777628,12.1240166 C15.6578998,12.1879549 16.0100002,12.6035534 16.0100002,13.0830903 Z"
      id="path-1"></path>
  </defs>
  <g id="Icons-/-Feather-/-whatsapp" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <mask id="mask-2" fill="white">
      <use xlink:href="#path-1"></use>
    </mask>
    <g id="Mask" fill-rule="nonzero"></g>
    <g id="Colors-/-UI-Grays-/-01.-Payne's-grey" mask="url(#mask-2)" fill="currentColor">
      <rect id="Color" x="-2.84e-14" y="-5.68e-14" width="24" height="24"></rect>
    </g>
  </g>
</svg>
