---
import { ChevronLeftIcon } from 'astro-feather';
import { getNewsPermalink } from '~/utils/permalinks';
---

<div class="mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20">
  <a class="btn btn-ghost px-3 md:px-3" href={getNewsPermalink()}
    ><ChevronLeftIcon customClasses="w-5 h-5 mr-1 -ml-1.5" /> Back to News</a
  >
</div>
