---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { headerData } from '~/data';

import { type MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<script is:inline defer data-domain="hdcg.ch" src="https://analytics.swiss-darts.online/js/script.js"></script>
<script is:inline defer src="https://analytics.dlbb.ch/script.js" data-website-id="2048f8b3-42a1-4263-b45d-97bd8be9da1b"
></script>

<Layout {meta}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main class="relative">
    <slot />
  </main>
  <slot name="footer">
    <Footer />
  </slot>
</Layout>

<style>
  main {
    min-height: calc(100vh - 46px - 101px - 120px) !important;
  }
</style>
