---
import { SITE, NEWS } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import NewsList from '~/components/news/List.astro';
import Headline from '~/components/news/Headline.astro';
import Pagination from '~/components/news/Pagination.astro';

import { fetchPosts } from '~/utils/news';
import { NEWS_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
  if (NEWS?.disabled || NEWS?.list?.disabled) return [];
  return paginate(await fetchPosts(), {
    params: { news: NEWS_BASE || undefined },
    pageSize: NEWS.postsPerPage,
  });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
  title: `News${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  description: SITE.description,
  noindex: NEWS?.list?.noindex || currentPage > 1,
  ogType: 'news',
};
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="Alle News rund um den HDC Gelterkinden">News</Headline>
    <NewsList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
