---
import { NEWS } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import SinglePost from '~/components/news/SinglePost.astro';
import ToNewsLink from '~/components/news/ToNewsLink.astro';

import { getCanonical, getPermalink } from '~/utils/permalinks';
import { fetchPosts } from '~/utils/news';
import { findImage } from '~/utils/images';

export async function getStaticPaths() {
  if (NEWS?.disabled || NEWS?.post?.disabled) return [];
  return (await fetchPosts()).flatMap((post) => ({
    params: {
      news: post.permalink,
    },
    props: { post },
  }));
}

const { post } = Astro.props;
const url = getCanonical(getPermalink(post.permalink, 'post'));

const meta = {
  title: post.title,
  description: post.description,
  canonical: post.canonical || url,
  image: await findImage(post.image),
  noindex: NEWS?.post?.noindex,
  ogType: 'article',
};
---

<Layout {meta}>
  <SinglePost post={{ ...post, image: meta.image }} url={url} />
  <ToNewsLink />
</Layout>
